.navMenu {
    background-color: white;
    border-color: black;
    border-left: 5px;
    border-right: 5px;
    border-radius: 20px;
    margin-top: 1vh;
    padding-top: 0.5vh;
    margin-bottom: 2vh;
}

Table thead {
    position: sticky;
    background-color: white;
    top: 0px;
    margin: 0 0 0 0;
}

.navMenu p {
    color: black;
    text-align: center;
}

.navMenu p:hover {
    color: purple;
    text-decoration-line: purple;
}

.content {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.content-btn {
    background-color: #adb5bd;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.content-btn {
    text-decoration: none;
}

.content h1 {
    text-align: center;
}

.content p {
    text-align: center;
}

.content-tall {
    min-height: 320px;
    max-height: 320px;
}

.content-xtall {
    min-height: 640px;
    max-height: 640px;
}

.content-tall-tablecontainer {
    overflow: scroll;
    height: 230px;
}

.content-xtall-tablecontainer {
    overflow: scroll;
    height: 460px;
}

.dashboard-center {
    position: relative;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.chartContent {
    background-color: white;
    border-radius: 20px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-color: black;
    min-height: 5vh;
}

.wrapper {
    background-color: #d3d3d3;
}